#page-title {
  color: white;
  font-size: calc(20px + 2.5vw);
  text-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.74);
}

.card {
  border-radius: 16px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0);
}

.card-body {
  padding: 1.5rem;
}

.card-group {
  border-radius: 5px;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0);
  margin-left: 1rem;
  margin-right: 1rem;
}

#hr-divider {
  border-width: 1px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.btn {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 0px;
  margin-right: 10px;
  border-radius: 8px;
}

.mt-1 {
  padding: 0px;
}

#contact-button {
  width: 48px !important;
  height: 48px !important;
  padding: 10px !important;
  vertical-align: center !important;
  text-align: center !important;
}

#social-icon {
  font-size: 25px !important;
}
.dropdown-item:active {
  background-color: #343a40 !important;
  color: rgb(255, 255, 255) !important;
}

body {
  background: rgb(250, 250, 250) !important;
  margin-top: 1.3rem;
}

.dropdown-menu {
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.card-group {
  border-radius: 10px;
}

.card-img-top {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px;
}

#small-img {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

#card-book-preview {
  margin-top: 1rem;
}

#reveiwer-font-small {
  font-size: 18px !important;
  text-align: right !important;
}

#quote-font-small {
  font-size: 19px !important;
}

#quote-font {
  font-size: 35px;
  font-weight: bold;
}

#reviewer-font {
  font-size: 20px;
  text-align: right;
}

#top-banner {
  height: 25vw;
}

#read-more {
  color: rgb(100, 100, 100);
}

#read-more:hover {
  color: rgb(221, 221, 221);
  text-decoration: none;
}

#hyperlink {
  color: rgb(100, 100, 100);
}

#hyperlink:hover {
  color: rgb(221, 221, 221);
  text-decoration: none;
}

#email-button {
  background-color: rgb(41, 41, 41) !important;
  border-color: rgb(41, 41, 41) !important;
  width: 48px !important;
  height: 48px !important;
  padding: 10px !important;
  vertical-align: center !important;
  text-align: center !important;
}

#email-button:hover {
  background-color: rgb(15, 15, 15) !important;
  border-color: rgb(15, 15, 15) !important;
}

.material-icons {
  font-size: 25px !important;
  vertical-align: -7px !important;
}

#home-portrait {
  border-radius: 3px;
}

#vienna-image {
  margin: 1rem;
}

.h-scroll {
  overflow: auto;
  white-space: nowrap;
}

#book-display {
  height: 225px;
  min-width: 150px;
  max-width: 80px;
  margin: 1rem;
}
