/* !Variables */
:root{
    --rad-sm: 3px;
    
    /* !Colors */
    --col-p: #0277bd;
}

/* !Fonts */
.quote-sm {font-size: 1.25rem;}
.quote-lg {font-size: 2.125rem; font-weight: bold;}
.attr-sm {font-size: 1.125rem; text-align: right; font-style: italic;}
.attr-lg {font-size: 1.2rem; text-align: right; font-style: italic;}

h1, h2, h3, h4, h5 {font-family: "Noto Sans", "sans-serif"; font-weight: bold;}

p, a {font-family: "Roboto", "sans-serif";}

.center {text-align: center;}

a{
    color: #212529;
    text-decoration: none;
    transition: all 250ms;
}

a:hover{
    color: #50555a;
    text-decoration: none;
    transition: all 250ms;
}



/* !Spacing */
.p-sm {padding-top: 1rem;}
.p-md {padding-top: 2rem;}
.p-lg {padding-top: 3rem;}
.m-sm {margin-top: 1rem;}
.m-md {margin-top: 2rem;}
.m-lg {margin-top: 3rem;}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
    align-items: flex-start;
}

/* !Bootstrap overrides */
.card {
    border-color: #fff;
    border-radius: var(--rad-sm);
}

.btn {
    background-color: var(--col-p)!important;
    color: #fff!important;
    box-shadow: 0px 0px 10px 0px rgba(100, 100, 100, 0.1)!important;
}

.btn:hover {
    background-color: #fff!important;
    color: var(--col-p)!important;
    box-shadow: 0px 2px 15px 0px rgba(100, 100, 100, 0.1)!important;
}


.navbar-toggler {
    border-color: #f8f9fa!important;
    background-color: #f8f9fa;
    transition: all 250ms;
}

.navbar-toggler:hover {
    border-color: #d1d1d1!important;
    background-color: #d1d1d1;
    /* color: #e7e8e9!important; */
    box-shadow: 0px 2px 15px 2px rgba(100, 100, 100, 0.1);
    transition: all 250ms;
}

.navbar-toggler:focus {
    outline: none;
}
/* !Styling */
.shd-sm {box-shadow: 0px 0px 10px 0px rgba(100, 100, 100, 0.1);}
.shd-md {box-shadow: 0px 2px 15px 2px rgba(100, 100, 100, 0.1);}
.shd-lg {box-shadow: 0px 4px 25px 4px rgba(100, 100, 100, 0.1);}

/* !Misc */

.book-item-title {
    text-align: center;
    font-size: 1.2rem;

    margin: 0.8rem 0 0 0;

    font-family: "Noto Sans", "sans-serif";
    font-weight: bold;
}

.book-item-title:hover {
    color: #212529!important;
}

.book-item {
    box-shadow: 0px 4px 25px 4px rgba(100, 100, 100, 0.3);
    -webkit-transition: all 125ms;
    -moz-transition: all 125ms;
    -o-transition: all 125ms;
    transition: all 125ms;
}

.book-item:hover {
    box-shadow: 0px 14px 35px 4px rgba(100, 100, 100, 0.3);
    transform: translate(0, -0.25rem);
    -webkit-transition: all 125ms;
    -moz-transition: all 125ms;
    -o-transition: all 125ms;
    transition: all 125ms;
}



.amzn {background-color: #ff9900!important}
.amzn:hover {color: #ff9900!important}

.ban {background-color: #59a364!important}
.ban:hover {color: #59a364!important}

.apl {background-color: #323232!important}
.apl:hover {color: #323232!important}



.book-cover {
    /* float: none;
    max-width: 100%; */
    max-width: 100%;
    
    
}
#book-view-top {
    /* margin-top: -5rem!important; */
    
}
#book-view-text {
    /* margin-t; */
    float: right;
    max-width: 75%;
    
}
#book-view-image {
    margin-top: -2rem;
    float: left;
    max-width: 25%;
    padding-right: 2rem;
}

@media only screen and (max-width: 768px) {
    /* .book-cover {
        float: right;
        max-width: 30%;
        margin-top: 5rem;
        margin-right: 1rem;
        margin-left: 10rem; 
        max-width: 35%;
        float: right;
        margin: 0.5rem;
    } */
    #book-view-top {
        /* margin-top: -5rem!important; */
        
    }
    #book-view-image {
        margin-top: -2rem;
        float: right;
        max-width: 35%;
        padding-right: 0;
        margin-left: 1rem;
    }
    #book-view-text {
        float: none;
        /* margin-top: -2rem; */
        max-width: 100%;
    }
}



@media only screen and (min-width: 768px) {
    .footer-hr {
        border-color: #00000000;
    }
}


#home-page-image {
    width: 100%;
}


@media only screen and (max-width: 575px) {
    #home-page-image {
        height: 20rem;
        width: 100%;
        object-fit: cover;
        object-position: 0 20%;
    }
}


